*,body,ul{
    padding: 0;
    margin: 0;
}
#container {
    position: relative;
    width: 500px;
    margin: auto;
    overflow: hidden;
}
ul{
    display: flex;
}

.is-animating{
    transition: all 0.8s;
}

li{
    list-style: none;
}
li img{
    width: 500px;
    height:400px;
}
.list {
    width: 500px;
    text-align: center;
}

.dots {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: center;
    width: 500px;
}

.dots li {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border-radius: 100%;
    background-color: #fff;
}
.dots li.active{
    background-color: coral;
}
.button{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 200px;
    z-index: 5;
    width: 500px;
}
.button div{
    width: 25px;
    height: 25px;
    border-radius: 100%;
}
.button .next{
    background-color: coral;
}
.button .pre{
    background-color: darkcyan;
}
